LOGS_DIR="" # Optional, by default it will store logs in ./logs
TEMP_DIR="" #Optional, used for ffmpeg results

POSTGRESQL_CON_URL=postgres://postgres:postgres@localhost:5431/core-cast

PROMETHEUS_SERVER_PORT=8082 # HTTP server used to serve prometheus metrics

OBJECT_STORE_REGION=minio #Unused for minio
OBJECT_STORE_ENDPOINT=http://localhost:9000
OBJECT_STORE_KEY_ID=minioadmin
OBJECT_STORE_SECRET=minioadmin123

OBJECT_STORE_PRIVATE_BUCKET=uploads
OBJECT_STORE_PUBLIC_BUCKET=cdn

RABBITMQ_CON_URL='amqp://localhost'


